[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/openal-soft"]
	path = libraries/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "libraries/nes-test-roms"]
	path = libraries/nes-test-roms
	url = https://github.com/christopherpow/nes-test-roms.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
